.sidebar {
  flex: 3;
  height: calc(100vh - 50px);
  overflow-y: scroll;
  position: sticky;
  top: 50px;

  &::-webkit-scrollbar {
    width: 5px;

    &-track {
      width: 5px;
      background-color: #f1f1f1;
    }

    &-thumb {
      width: 5px;
      background-color: rgb(179, 179, 179);
    }
  }

  &Wrapper {
    padding: 20px;
  }

  &List {
    padding: 0;
    margin: 0;
    list-style: none;

    &Item {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }
  }

  &Icon {
    margin-right: 15px;
  }

  &Button {
    width: 150px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-weight: 500;
  }

  &Divider {
    margin: 20px 0;
  }

  &FriendList {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}
